p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 4rem;
    // line-height: 1.22;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.35;

    > a {
        color: $color-truegreen;
        font-weight: 500;
    }
}
