.ma-accordion {
    &-container {
        display: flex;
        flex-direction: column;
        // padding-top: 48px;
        margin-top: 64px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &-head {
        width: 100%;
        display: flex;
        word-break: break-all;
        align-items: center;
        cursor: pointer;

        &-icon {
            $--size: 20px;
            $--width: 3px;

            min-width: $--size;
            min-height: $--size;
            position: relative;

            &::before,
            &::after {
                display: block;
                content: '';
                position: absolute;
                background-color: #323232;
            }

            &::before {
                top: ($--size - $--width)/2;
                left: 0;
                width: $--size;
                height: $--width;
            }

            &::after {
                top: 0;
                width: $--width;
                height: $--size;
                left: ($--size - $--width)/2;
            }
        }

        &-title {
            font-size: 1.5rem;
            color: #323232;
            margin-left: 20px;
            font-weight: 500;
            // transition: margin-left 500ms ease;
        }
    }

    &-content {
        display: none;
        padding: 24px 0 14px 41px;
        color: #858482;
        font-size: 1.125rem;
        text-align: justify;
    }

    &.active &-content {
        display: block;
    }

    &.active &-head-icon::after {
        display: none;
    }
}
