.focuser {
    position: fixed;
    visibility: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;

    $speed: 200ms;
    transition: visibility $speed, opacity $speed;
}
