#app-main-home {
    @include ma-prefer-quality;
    background-color: #f5f5f5;
}

.ma-home {
    // &-container {
    //     padding-bottom: 64px;
    // }

    &-search {
        &-container {
            position: relative;
            z-index: 100;
            margin-top: 4.625rem;
            width: 100%;
        }

        &-input {
            width: 100%;
            background-color: #fff !important;
            outline: 1px solid rgba(#000, 0.05) !important;
            line-height: 1.3;
            border-radius: 8px;
            padding: 1.3rem 1.75rem;
            font-size: 1rem;
            font-weight: 500;
            color: #000;

            &:focus {
                & ~ .focuser {
                    visibility: visible;
                    opacity: 0.5;
                }

                & ~ i {
                    color: #000;
                }
            }
        }

        &-i {
            cursor: pointer;
            position: absolute;
            right: 1.25rem;
            top: 1.05rem;
            font-size: 1.75rem;
            color: $color-gray-500;
        }
    }

    &-projects {
        &-container {
            position: relative;
            margin-top: 1.625rem;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
        }

        &-label {
            display: block;
            position: absolute;
            user-select: none;
            font-weight: 500;
            font-size: 1.0625rem;
            color: #323232;
            top: 0;
            letter-spacing: 2px;
            left: 0;
            transform-origin: 0 0;
            transform: translateX(-16px) rotate(90deg);
        }

        &-project {
            &-container {
                &.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                    filter: grayscale(100%);
                }

                position: relative;
                z-index: 0;
                background-color: darken(#fff, 15%);
                width: 0;
                min-width: 200px;
                flex: 1 1 0;
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                user-select: none;
                border-radius: 8px;
                height: 450px;
                overflow: hidden;

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
                }
            }

            &-cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center center;
                // background-attachment: fixed;
                background-size: cover;
                transition: transform 500ms;
            }

            &-label {
                color: #fff;
                z-index: 4;
                width: 100%;
                text-align: center;
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                padding: 30px 10px;
            }

            &-container:hover &-cover {
                transform: scale(1.1);
            }
        }

        // &-container:hover &-project {
        //     opacity: 0.75;
        // }

        &-project:hover {
            opacity: 1 !important;
        }
    }

    &-sponsors {
        &-back {
            position: absolute;
            left: min(-35vw, -400px);
            top: -60px;
            opacity: 15%;
            z-index: -1;
        }

        &-container {
            position: relative;
            margin-top: 120px;
        }

        $--height: 6rem;

        &-list {
            display: flex;
            gap: 1.3rem;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            margin-top: 3rem;
            padding: 0 16px;
            width: 100%;
        }

        &-sponsor {
            // filter: grayscale(100%);
            // opacity: 0.5;
            height: $--height;
            width: auto;
            background-color: #fff;
            border-radius: 8px;
            padding: 24px;
            object-fit: cover;

            // transition: opacity 500ms, filter 500ms;

            &:hover {
                filter: none;
                opacity: 1;
            }
        }
    }

    &-stats {
        &-container {
            position: relative;
            min-height: 550px;
            z-index: 0;
            margin: 100px 0 0 0;
            color: #fff;
            background-color: $color-islamic-dark;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.05;
                z-index: -1;
                background-image: url('/img/home-statsback.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                // background-attachment: fixed;
                background-size: cover;
            }
        }

        // &-back {
        //     &::before {
        //         position: absolute;
        //         content: '';
        //         display: block;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         background-color: $color-islamic-dark;
        //     }
        // }
    }

    &-people {
        $p: &;

        &-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 96px;
            margin-top: 140px;

            &.is-flipped {
                #{$p}-card {
                    flex-direction: row-reverse;
                    &-content {
                        align-items: flex-end;
                    }
                }
            }
        }

        &-side {
            &-text {
                flex: 1;
            }

            &-people {
                flex: 1;
                display: flex;
                flex-direction: column;
                row-gap: 32px;
            }
        }

        &-card {
            display: flex;
            flex-direction: row;
            $--pic-size: 170px;
            height: $--pic-size;
            column-gap: 26px;

            &-pic {
                width: $--pic-size;
                height: $--pic-size;
                border-radius: $--pic-size/2;
                filter: grayscale(1);
            }

            &-content {
                margin: auto 0;
                display: flex;
                flex-direction: column;

                &-name {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $color-primary-title;
                    margin-top: 4px;
                }

                &-years {
                    font-size: 1rem;
                    color: $color-islamic;
                    font-weight: 600;
                }

                &-role {
                    font-size: 1rem;
                    color: $color-primary-text;
                    font-weight: 600;
                    margin-top: 6px;
                }

                &-email {
                    font-size: 0.875rem;
                    color: $color-primary-text;
                    opacity: 0.7;
                    font-weight: 500;
                    margin-top: 6px;

                    &:hover {
                        color: $color-truegreen;
                    }
                }

                // >p {
                //     font-weight: 400;
                //     margin-top: 12px;
                //     font-size: 1rem;
                //     color: $color-primary-text;
                // }

                &-links {
                    display: flex;
                    flex-direction: row;
                    column-gap: 0.875rem;
                    margin-top: 16px;
                }

                &-link {
                    width: 24px;
                    height: 24px;
                    filter: saturate(0);
                    opacity: 0.25;

                    > img {
                        width: 100%;
                        height: 100%;
                    }

                    > i {
                        width: 100%;
                        height: 100%;
                        transform: scale(1.19);
                    }

                    &:hover {
                        opacity: 1;
                        filter: none;
                    }
                }
            }
        }

        // &-grid {
        //     position: relative;
        //     display: grid;
        //     grid-template-columns: 1fr 1fr 1fr 1fr;
        //     // flex-direction: row;
        //     // flex-wrap: wrap;
        //     margin: 100px 0 0 0;
        //     gap: 20px 24px;
        //     width: 100%;

        //     &::before {
        //         position: absolute;
        //         display: block;
        //         content: '';
        //         width: 64px;
        //         height: 64px;
        //         top: 0;
        //         left: 0;
        //         border: 2px solid #d1d1d1;
        //         border-right: 0;
        //         border-bottom: 0;
        //     }
        // }

        // &-card {
        //     // flex-grow: 1;
        //     // min-width: 218px;
        //     // background-color: #fff;
        //     // // width: 218px;
        //     // aspect-ratio: 218 / 292;
        //     display: flex;
        //     flex-direction: column;
        //     // width: 282px;
        //     // height: 329px;
        //     width: 100%;
        //     padding: 24px;
        //     text-align: center;
        //     font-weight: 600;

        //     &-img {
        //         // filter: saturate(0);
        //         transition: filter 500ms;
        //         width: 100%;
        //         height: auto;
        //     }

        //     &-name {
        //         font-size: 1.1875rem;
        //         font-weight: 700;
        //         margin: 1.125rem 0 6px 0;
        //         color: #323232;
        //     }

        //     &-role {
        //         font-size: 0.825rem;
        //         padding: 0 16px;
        //         line-height: 1.3;
        //         text-transform: uppercase;
        //         color: #acacac;
        //     }

        //     &:hover &-img {
        //         filter: none;
        //     }
        // }
    }

    &-faq {
        &-wrapper {
            margin: 250px 0 0 0;
        }
    }
}
