.ma-accordion {
    $--head-color: rgba(#000, 0.6);
    $--head-color-active: rgba(#000, 1);

    &-container {
        display: flex;
        flex-direction: column;
        // padding-top: 48px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgba(#000, 0.05);

    &-head {
        width: 100%;
        display: flex;
        padding: 10px 0;
        word-break: break-all;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &-icon {
            $--size: 20px;
            $--width: 3px;

            min-width: $--size;
            min-height: $--size;
            position: relative;
            margin-left: 20px;

            &::before,
            &::after {
                display: block;
                content: '';
                position: absolute;
                background-color: $--head-color;
            }

            &::before {
                top: ($--size - $--width)/2;
                left: 0;
                width: $--size;
                height: $--width;
            }

            &::after {
                top: 0;
                width: $--width;
                height: $--size;
                left: ($--size - $--width)/2;
            }
        }

        &-title {
            font-size: 1.6rem;
            color: $--head-color;
            font-weight: 500;
            // transition: margin-left 500ms ease;
        }
    }

    &-content {
        display: none;
        padding: (24px - 10px) 0 24px 0;
        color: #858482;
        font-size: 1.125rem;
        text-align: left;
    }

    &.active &-content {
        display: block;
    }

    &.active &-head-title {
        color: $--head-color-active;
    }

    &.active &-head-icon::after {
        display: none;
    }
}
