@use 'sass:math';

.ma-accordion {
    $--head-color: rgba(#000, 0.6);
    $--head-color-active: rgba(#000, 1);

    &-container {
        display: flex;
        flex-direction: column;
        // padding-top: 48px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;

    &::after {
        display: block;
        content: '';
        position: absolute;
        width: calc(100%);
        height: calc(100%);
        background-color: rgba(#fff, 0.3);
        border: 1px solid rgba(#000, 0.05);
        border-radius: 14px;
        z-index: -1;
    }
    // border-bottom: 2px solid rgba(#000, 0.05);

    $--padding: 1.625rem;

    &-head {
        width: 100%;
        display: flex;
        word-break: normal;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-align: left;
        padding: $--padding;

        &-icon {
            $--size: 20px;
            $--width: 2px;

            min-width: $--size;
            min-height: $--size;
            position: relative;
            // margin-left: 20px;

            &::before,
            &::after {
                display: block;
                content: '';
                position: absolute;
                background-color: $--head-color;
            }

            &::before {
                top: math.div($--size - $--width, 2);
                left: 0;
                width: $--size;
                height: $--width;
            }

            &::after {
                top: 0;
                width: $--width;
                height: $--size;
                left: math.div($--size - $--width, 2);
            }
        }

        &-title {
            font-size: 1.2rem;
            color: $--head-color;
            font-weight: 500;
            // transition: margin-left 500ms ease;
        }
    }

    &-content {
        display: none;
        padding: 0 $--padding $--padding $--padding;
        color: rgba(#000, 0.5);
        font-size: 1.125rem;
        text-align: justify;
    }

    &.active::after {
        background-color: rgba(#fff, 1);
        border: 1px solid rgba(#fff, 1);
    }

    &.active &-content {
        display: block;
    }

    &.active &-head-title {
        color: $--head-color-active;
    }

    &.active &-head-icon::after {
        display: none;
    }
}
