a.ma-anchor {
    text-decoration: none;

    &-underline {
        $--color: $color-islamic;
        display: inline-block;
        position: relative;
        color: $--color;
        font-size: 1rem;
        font-weight: 500;
        padding: 4px 10px;

        &::before,
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 50%;
            // transform: translateX(-100%);
            height: 1px;
            background-color: $--color;
            transition: width 300ms;
        }

        &:hover::before,
        &:hover::after {
            width: 100% !important;
        }

        &::before {
            top: -2px - 3px;
            left: 0;
        }

        &::after {
            bottom: -2px - 3px;
            right: 0;
        }
    }
}
