.ma-emblem {
    position: relative;
    user-select: none;

    > svg {
        width: auto;
        height: 100%;
    }

    &-beta {
        position: absolute;
        top: 0;
        right: -8%;
        background-color: $color-trueyellow;
        color: #000;
        padding: 5px 8px 4px 8px;
        font-size: 12px;
        font-weight: 600;
    }
}

.ma-emblem.t0 {
    .ma-emblem-project {
        transform: translate(225px, (-154px + 52px));
    }

    .ma-emblem-anatolia {
        transform: translate(-5px, -15px);
    }
    // animation: translateEmblem1 1s 1s infinite;
}

@keyframes translateEmblem1 {
    0% {
        transform: translet(0px, 0px);
    }
    100% {
        transform: translate(439px, -345px);
    }
}
