.ma-footer {
    background-color: $color-islamic-dark;
    padding: 64px 0 0 0;
    font-size: 0.875rem;
    user-select: none;

    > .ma-mwcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ma-emblem {
        display: inline-flex;
        justify-content: center;
    }

    &-section {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        flex-direction: column;

        &-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 130px;
            width: 100%;
            margin-top: 96px;
        }

        &-title {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            color: #fff;
        }

        &-list {
            list-style-type: none;
            display: flex;
            white-space: nowrap;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-top: 1.25rem;

            &-item {
                font-weight: 400;
                text-decoration: none;
                // color: #fff;
                color: rgba(#fff, 0.5);

                &:hover {
                    color: $color-trueyellow;
                }
            }
        }
    }

    &-bottom {
        &-container {
            border-top: 1px solid rgba(#fff, 0.1);
            margin-top: 125px;
        }

        display: flex;
        align-items: center;
        padding-bottom: 2px;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        padding: 20px $view-max-width-px;

        &-copyright {
            color: rgba(#fff, 0.4);
            font-weight: 400;
            user-select: text;
            line-height: 1.4;

            > a {
                color: rgba(#fff, 0.7);

                &:hover {
                    color: $color-trueyellow;
                }
            }
        }

        &-sitemap {
            text-decoration: none;
            color: rgba(#fff, 0.7);

            &:hover {
                color: $color-trueyellow;
            }
        }
    }
}
