@use '../mixins/helpers.scss' as helpers;

.ma-header {
    // position: relative;
    // z-index: 0;

    text-align: center;

    &-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        filter: blur(3px);
        user-select: none;

        &::before {
            @include helpers.ma-solidpseudo;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(245, 245, 245);
            background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0) 100%);
        }
    }

    &-img {
        width: 100%;
        height: auto;
    }

    &-p {
        margin: 2rem 0 0 0;
        color: rgba(#000, 0.4);
        font-weight: 500;
        font-size: 1.0625rem;
    }

    &-title {
        font-weight: 700;
        font-size: 4.5rem;

        > span {
            display: block;
            // color: rgba(#000, 0.6);
            // color: colors.$color-islamic;
        }
    }
}
