.ma-section {
    &-title {
        position: relative;
        display: inline-block;
        user-select: none;
        padding: 0 17px;
        z-index: 0;

        > span {
            position: absolute;
            user-select: none;
            display: block;
            font-size: 28px;
            line-height: 28px;
            top: -(28px + 12px);
            left: 15px;
            text-align: right;
        }

        > span,
        &::before,
        &::after {
            transition: transform 300ms;
            // will-change: transform;
        }

        &:hover {
            > span {
                transform: translateY(-4px);
            }
            &::before {
                transform: translateX(-3px) rotate(-5deg);
            }
            &::after {
                transform: translateX(3px) rotate(5deg);
            }
        }

        &::before,
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 48px;
            height: 48px;
            border-style: solid;
        }

        &::before {
            top: -7px;
            left: 0;
        }

        &::after {
            bottom: -7px;
            right: 0;
        }

        &.c1 {
            > span {
                color: #00c34e;
            }
            &::before,
            &::after {
                border-color: #00c34e;
            }
        }

        &.c2 {
            > span {
                color: $color-trueyellow;
            }
            &::before,
            &::after {
                border-color: $color-trueyellow;
            }
        }

        &.c3 {
            > span {
                color: #2461ff;
            }
            &::before,
            &::after {
                border-color: #2461ff;
            }
        }

        &.s1 {
            &::before {
                border-width: 4px 0 0 4px;
            }

            &::after {
                border-width: 0 4px 4px 0;
            }
        }

        &.s2 {
            &::before {
                top: -7px;
                left: 0;
                border-width: 0 4px 4px 4px;
                border-style: solid;
                z-index: -1;
            }

            &::after {
                bottom: -7px;
                right: 0;
                border-width: 4px 4px 4px 0;
                border-style: solid;
            }
        }

        &.s3 {
            &::before {
                top: -7px;
                left: 0;
                border-width: 4px;
                border-style: solid;
            }

            &::after {
                bottom: -7px;
                right: 0;
                border-width: 24px;
                border-style: solid;
                z-index: -1;
            }
        }
    }
}
