.ma-splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    opacity: 1;
    transition: opacity 500ms, visibility 500ms;

    // &.fadeout {
    //     opacity: 0;

    //     > .ma-emblem {
    //         opacity: 0;
    //     }
    // }

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}
