#ma-splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    // transition: opacity 500ms, visibility 500ms;
    transition: transform 1500ms ease-in-out 1300ms;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    will-change: transform;

    &::before,
    &::after {
        display: block;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        pointer-events: none;
    }

    &::before {
        background-color: #fbdb40;
        transition: width 1000ms ease-in-out, left 2000s ease-in-out 1800ms;
        will-change: width, left;
    }

    &::after {
        background-color: #0a3025;
        transition: width 750ms ease-in-out 500ms;
        // transition: width 750ms ease-in-out 500ms, transform 1500ms ease-in-out 1300ms;
        will-change: width;
    }

    >.ma-emblem {
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
        transition: left 1500ms ease-in-out 1300ms;
        will-change: left;

        >svg {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &.hidden {
        transform: translateX(100%);

        >.ma-emblem {
            left: -50%
        }

        &::before {
            width: 100%;
            left: 100%;
        }

        &::after {
            width: 100%;
            // left: 100%;
            // transform: translateX(100%);
        }
    }
}

// @keyframes onHideBefore {
//     from {
//         width: 0;
//     }
//     to {
//         width: 100%;
//     }
// }
