button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 14px 23px 14px 19px;
    background-color: rgba($color-islamic-dark, 0.8);
    border-radius: 6px;
    color: #fff;
    user-select: none;

    &:hover {
        background-color: rgba($color-islamic-dark, 0.9);
    }

    > i {
        width: 20px !important;
        height: 20px !important;
        font-size: 20px !important;
        line-height: 20px !important;
        margin-right: 10px;
    }

    > span {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
    }
}
