@use '../variables/defaults.scss' as defaults;

.ma-mwcontainer {
    position: relative;
    width: 100%;
    max-width: (defaults.$view-max-width + 2 * defaults.$view-max-width-px);
    margin: 0 auto;

    padding-left: defaults.$view-max-width-px;
    padding-right: defaults.$view-max-width-px;

    &-md {
        max-width: 960px !important;
    }
}
