.ma-mwcontainer {
    position: relative;
    width: 100%;
    max-width: ($view-max-width + 2*$view-max-width-px);
    margin: 0 auto;

    padding-left: $view-max-width-px;
    padding-right: $view-max-width-px;
}
