.op-50 {
    opacity: 0.5;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.m-b-5 {
    margin-bottom: 5rem !important;
}

.text-center {
    text-align: center !important;
}

i.material-icons {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
