@media (max-width: 1320px) {
    .ma-home {
        &-projects-label {
            position: relative !important;
            width: 100% !important;
            transform: none !important;
            margin-left: 1px !important;
        }
    }
}

@media (max-width: 960px) {
    .ma-header {
        &-title {
            font-size: 4rem !important;
        }

        &-p {
            font-size: 1rem !important;
        }
    }

    .ma-anchor {
        &-lines {
            font-size: 0.875rem !important;
        }
    }

    .ma-sources {
        &-section {
            margin-top: 144px !important;
            flex-direction: column !important;
            row-gap: 72px !important;

            &-lhs {
                min-width: 0px !important;

                &-title {
                    font-size: 2rem !important;
                }

                &-subtitle {
                    font-size: 0.875rem !important;
                }
            }

            &-p {
                font-size: 0.875rem !important;
            }

            &-rhs {
                height: 320px !important;

                &-pics {
                    height: 320px !important;
                }
            }
        }
    }

    .ma-home-stats {
        &-wrapper {
            // grid-template-columns: 1fr !important;
            row-gap: 32px !important;
        }

        &-stat {
            &-label {
                font-size: 12px !important;
            }

            &-value {
                font-size: 32px !important;
            }
        }
    }

    .ma-home {
        &-search {
            &-input {
                font-size: 0.875rem !important;
                padding: 1.2rem 1.5rem !important;
            }

            &-i {
                font-size: 1.5rem !important;
                top: 1rem !important;
                right: 1.2rem !important;
            }
        }

        &-projects {
            &-container {
                gap: 1rem !important;
            }

            &-project {
                &-container {
                    height: 300px !important;
                }

                &-label {
                    font-size: 0.875rem !important;
                    padding: 1.5rem 0.5rem !important;
                }
            }
        }

        &-people {
            &-wrapper {
                flex-direction: column !important;
                row-gap: 96px !important;
                margin-top: 72px !important;
            }
        }

        &-faq {
            &-wrapper {
                margin-top: 144px !important;
            }
        }
    }

    .ma-contact {
        &-map-container {
            width: 100vw !important;
            height: 40vw !important;
            z-index: 99 !important;
        }

        &-content {
            position: relative;
            padding: 48px 24px 48px 24px !important;
            margin-top: 40vw !important;

            h2 {
                margin-top: 48px !important;
            }
        }
    }

}

@media (max-width: 480px) {
    .ma-home {
        &-people {
            &-card {
                // align-items: flex-start !important;
                text-align: center !important;
                justify-content: flex-start !important;
                flex-direction: column !important;
                row-gap: 24px !important;

                &-content-links {
                    justify-content: center !important;
                }
            }

            &-side-people {
                row-gap: 148px !important;
            }
        }
    }
}

@media (max-width: 720px) {
    .ma-home-search-i {
        display: none !important;
    }

    .ma-navbar {
        justify-content: center !important;
        padding-bottom: 36px !important;

        &-submit {
            display: none;
        }
    }

    .ma-home {
        &-people {
            &-wrapper {
                row-gap: 36px !important;
            }

            &-card {
                align-items: center;

                &-pic {
                    width: 120px !important;
                    height: 120px !important;
                }
            }
        }

        &-stats {
            &-wrapper {
                grid-template-columns: 1fr !important;
            }
        }
    }

    .ma-mwcontainer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .ma-header {
        &-title {
            font-size: 2.625rem !important;
        }

        &-p {
            font-size: 0.875rem !important;
        }

        .ma-emblem {
            height: 64px !important;
        }
    }

    .ma-section {
        &-title {
            font-size: 2.625rem !important;
        }

        &-text {
            font-size: 0.875rem !important;
        }
    }

    .ma-accordion {
        &-head {
            &-icon {
                display: none !important;
            }

            &-title {
                font-size: 1rem !important;
            }
        }

        &-content {
            >p {
                font-size: 0.875rem !important;
            }
        }
    }

    .ma-map {
        &-emblem {
            &.is-modal-active {
                display: none !important;
            }
        }

        &-search {
            &-container {
                top: 9px !important;
                left: 9px !important;
                column-gap: 9px !important;

                &.is-modal-active {
                    display: none !important;
                }
            }

            &-lhs {
                // display: none !important;
                transform: scale(0.75) !important;
            }

            &-rhs {
                max-width: 100% !important;
            }

            &-input {
                font-size: 14px !important;
                padding: 0 16px !important;
            }
        }

        &-share {
            &-links {
                flex-wrap: wrap !important;
            }

            padding: 16px 16px !important;
        }

        &-modal {
            padding: 12px 16px !important;

            &-activities-activity-rhs {
                font-size: 14px !important;
            }

            &-container {
                top: (9px + 48px) !important;
                left: 9px !important;
            }

            &-inner {
                overflow: auto !important;
                max-height: calc(100lvh - (57px + 24px)) !important;
            }

            &-buttons {
                flex-direction: row !important;
                top: -(24px + 16px) !important;
                left: 0 !important;
            }

            &-label {
                font-size: 12px !important
            }

            &-title {
                font-size: 2rem !important;
            }

            &-tag {
                font-size: 0.75rem !important;
            }

            &-footnotes-footnote {
                font-size: 12px !important;
            }
        }

        &-emblem {
            bottom: 0 !important;
            padding: 8px 14px !important;

            svg {
                height: 48px !important;
            }

            .ma-emblem-beta {
                display: none !important;
            }
        }
    }
}

@media (max-width: 1263px) {
    .ma-footer {
        .ma-emblem {
            justify-content: flex-start !important;
        }

        &-bottom {
            justify-content: flex-start !important;
        }

        &-section {
            &-container {
                justify-content: flex-start !important;
                gap: max(64px, 12vw) !important;
            }
        }
    }

    // .ma-home {
    //     &-people-grid {
    //         grid-template-columns: 1fr 1fr 1fr;
    //     }
    // }
}

@media (max-width: 1000px) {
    .ma-navbar {
        padding-bottom: 48px;

        >.ma-emblem>svg {
            width: auto;
            height: 64px !important;
        }
    }

    // .ma-home {
    //     &-people-grid {
    //         grid-template-columns: 1fr 1fr 1fr !important;
    //         gap: 0.7vw 1vw !important;
    //     }
    // }

    // h1 {
    //     font-size: 4rem !important;
    // }

    // p {
    //     font-size: 1rem !important;
    // }

    .ma-section {
        &-title {
            font-size: 2.625rem;

            >span {
                // font-size: ;
            }
        }
    }

    .ma-home {
        &-search {
            &-container {
                margin-top: 28px;
            }

            &-input {
                font-size: 0.9375rem;
                padding: 20px 32px;
            }
        }
    }
}
