p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 72px;
    // line-height: 1.22;
    font-weight: 600;
}

h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 1.35;

    > a {
        color: $color-truegreen;
        font-weight: 500;
    }
}
